# python 线上集训第二课

## 目录
- function
- class, subclass
- module

## function

- def关键词
- 用括号包含list of parameters
- statements都要indent

In [2]:
def fib(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a+b
    print()

fib(5)
fib(10)

0 1 1 2 3
0 1 1 2 3 5 8 13 21 34

### 不定长度的arguments

In [4]:
def print_all(*args):
    print(type(args))
    print(args)

print_all("hello", "world", "julyter", "notebook")

<class 'tuple'>
('hello', 'world', 'julyter', 'notebook')

### default argument
concat例子

In [7]:
def concatenate(*args, sep=" "):
    args = [str(a) for a in args]
    print(sep.join(args))

concatenate("hello", "world", "jupyter", "notebook", \
            "julyedu", 1, 2, 3, 4, 5, sep=",")

hello,world,jupyter,notebook,julyedu,1,2,3,4,5

### 把一个tuple/list当做arguments

In [10]:
def unpack_args(a, b):
    print(a, b)

r = [2,5]
r = 2,5
# unpack_args(r) # 会报错
unpack_args(*r) # 运行正常了

2 5

### 关于模块化(modularity)

function的作用是拿到一些参数，做一些运算或者别的更加复杂的操作，然后返回一些结果。

(25min)

# Class入门


## Object oriented programming 面向对象编程

```class```关键字用来定义一个class(类)。

之前我们学习的都是python自带的数据类型，class是我们自己定义的类型。

- object和class之间的关系
class是一个模板，我们可以把class类比成一个数据类型。object是class的一个实例，就好比a是一个int，我们可以把int类比成一个class,把a类比成一个object。

- 什么是```self```?
- 什么是```__init__```?
- pass statement
- 用dir inspect一个object

In [2]:
class Employee(object):

	def __init__(self, name, ID, title, salary, manager=None):
		self.name = name
		self.ID = ID
		self.title = title
		self.salary = salary
		self.manager = manager

	def get_info(self):
		return "(Employee name: {}, title: {}, salary: {}, manager: {})".format(self.name, self.title, self.salary, self.manager.get_info() if self.manager is not None else "")

	def __eq__(self, other):
		return self.ID == other.ID

july = Employee("July", 1, "CEO", 99999999)
print(july.get_info())
zewei = Employee("Zewei", 2, "Lecturer", 1, july)
print(zewei.get_info())

# (40min)

(Employee name: July, title: CEO, salary: 99999999, manager: )
(Employee name: Zewei, title: Lecturer, salary: 1, manager: (Employee name: July, title: CEO, salary: 99999999, manager: ))

In [3]:
class Company(object):

	def __init__(self, name, employees = []):
		self.name = name
		self.employees = employees

	def hire(self, employee):
		if not employee in self.employees:
			self.employees.append(employee)

	def fire(self, employee):
		if employee in self.employees:
			self.employees.remove(employee)

	def get_info(self):
		res = "Company: {}, employees: ".format(self.name)
		for employee in self.employees:
			res += ", {}".format(employee.get_info())
		return res

c = Company("Julyedu")
c.hire(july)
c.hire(zewei)

han = Employee("Han", 3, "Lecturer", 100000, july)

c.hire(han)

print(c.get_info())

print("Firing zewei!")
c.fire(zewei)
print(c.get_info())

print("Firing zewei!")
c.fire(zewei)
print(c.get_info())

# (55min)

Company: Julyedu, employees: , (Employee name: July, title: CEO, salary: 99999999, manager: ), (Employee name: Zewei, title: Lecturer, salary: 1, manager: (Employee name: July, title: CEO, salary: 99999999, manager: )), (Employee name: Han, title: Lecturer, salary: 100000, manager: (Employee name: July, title: CEO, salary: 99999999, manager: ))
Firing zewei!
Company: Julyedu, employees: , (Employee name: July, title: CEO, salary: 99999999, manager: ), (Employee name: Han, title: Lecturer, salary: 100000, manager: (Employee name: July, title: CEO, salary: 99999999, manager: ))
Firing zewei!
Company: Julyedu, employees: , (Employee name: July, title: CEO, salary: 99999999, manager: ), (Employee name: Han, title: Lecturer, salary: 100000, manager: (Employee name: July, title: CEO, salary: 99999999, manager: ))

# subclass(子类)

## 什么是subclass

subclass是base class的继承，一个subclass可以继承所有base class的field和method，在base class的基础上做拓展。


- Abstract Base Class (abc)

In [4]:
from abc import ABC, abstractmethod


class Person(ABC):
	@abstractmethod
	def __init__(self, name, ID):
		self.name = name
		self.ID = ID

	@abstractmethod
	def get_info(self):
		return "name: {}".format(self.name)

# a = Person("Aaron", 20)
# print(a.get_info())

'''
Student class

'''
class Student(Person):

	# method
	def __init__(self, name, ID, level=0):
		# field
		# self refers to the object that is being created
		super().__init__(name, ID)
		self.level = level

	def get_info(self):
		return "{} ,level: {}".format(super().get_info(), self.level)

	def take_exam(self, grade):
		if grade.upper() in ["A", "B", "C"]:
			self.level += 1
		return self.level

	def graduate(self):
		self.print_info()
		if self.level >= 12:
			print("Congratulations, you've graduated from Julyedu")
			return True
		else:
			print("Sorry, you need to pass {} extra exams".format(12-self.level))
			return False


class Employee(Person):

	def __init__(self, name, ID, title, salary, manager=None):
		super().__init__(name, ID)
		self.title = title
		self.salary = salary
		self.manager = manager

	def get_info(self):
		return "({}, title: {}, salary: {}, manager: {})".format(super().get_info(), self.title, self.salary, self.manager.get_info() if self.manager is not None else "No manager")



july = Employee("July", 1, "CEO", 99999999)
print(july.get_info())
zewei = Employee("Zewei", 2, "Lecturer", 1, july)
print(zewei.get_info())


class Company(object):

	def __init__(self, name, employees = []):
		self.name = name
		self.employees = employees

	def hire(self, employee):
		if not employee in self.employees:
			self.employees.append(employee)

	def fire(self, employee):
		if employee in self.employees:
			self.employees.remove(employee)

	def get_info(self):
		res = "Company: {}, employees: ".format(self.name)
		for employee in self.employees:
			res += ", {}".format(employee.get_info())
		return res

c = Company("Julyedu")
c.hire(july)
c.hire(zewei)

han = Employee("Han", 3, "Lecturer", 100000, july)

c.hire(han)

print(c.get_info())

print("Firing zewei!")
c.fire(zewei)
print(c.get_info())

print("Firing zewei!")
c.fire(zewei)
print(c.get_info())
# (70min)

(name: July, title: CEO, salary: 99999999, manager: No manager)
(name: Zewei, title: Lecturer, salary: 1, manager: (name: July, title: CEO, salary: 99999999, manager: No manager))
Company: Julyedu, employees: , (name: July, title: CEO, salary: 99999999, manager: No manager), (name: Zewei, title: Lecturer, salary: 1, manager: (name: July, title: CEO, salary: 99999999, manager: No manager)), (name: Han, title: Lecturer, salary: 100000, manager: (name: July, title: CEO, salary: 99999999, manager: No manager))
Firing zewei!
Company: Julyedu, employees: , (name: July, title: CEO, salary: 99999999, manager: No manager), (name: Han, title: Lecturer, salary: 100000, manager: (name: July, title: CEO, salary: 99999999, manager: No manager))
Firing zewei!
Company: Julyedu, employees: , (name: July, title: CEO, salary: 99999999, manager: No manager), (name: Han, title: Lecturer, salary: 100000, manager: (name: July, title: CEO, salary: 99999999, manager: No manager))

# Iterator and Generator

## iterator

In [14]:
x = iter([0, 1, 2, 3])
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

0
1
2
3

StopIteration:

定义一个class的时候，如果我们在class中定义```__iter__```和```__next__```两个method就能把这个class变成一个iterator。

In [15]:
class Yrange(object):
    def __init__(self, n):
        self.i = 0
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.i < self.n:
            i = self.i
            self.i += 1
            return i
        else:
            raise StopIteration
for i in Yrange(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

## Generator

In [16]:
def zrange(n):
    i = 0
    while i < n:
        yield(i)
        i += 1

for i in zrange(5):
    print(i)

0
1
2
3
4

In [ ]:
## enumerate和zip

- enumerator

In [21]:
names = ["FB", "GOOGLE", "APPLE", "AMAZON"]
for i, name in enumerate(names):
    print(i, name)

0 FB
1 GOOGLE
2 APPLE
3 AMAZON

还有一个function叫做zip

In [5]:
numbers = list(range(4))
[ "{} {}".format(a, b) for a, b in zip(names, numbers) ]

# 90min

NameError: name 'names' is not defined

# csv和json格式数据

## csv(comma separated values)

关于module csv

- reader
- writer

In [28]:
import csv


in_file = open("data/sample.csv", "r")
csv_reader = csv.reader(in_file)
data = list(csv_reader)
print(data)
in_file.close()

in_file = open("data/sample.csv", "r")
csv_reader = csv.reader(in_file)
for line in csv_reader:
	print("line #: {}, content: {}".format(csv_reader.line_num, line))
in_file.close()

out_file = open("output.csv", "w")
out_writer = csv.writer(out_file)
out_writer.writerow(["julyedu", "baidu", "tencent", "alibaba"])
out_writer.writerow(["fb", "goog", "aapl", "amzn"])
out_writer.writerow([1, -2, 3.1111, 4.5])
out_file.close()

out_file = open("output.tsv", "w")
out_writer = csv.writer(out_file, delimiter="\t")
out_writer.writerow(["julyedu", "baidu", "tencent", "alibaba"])
out_writer.writerow(["fb", "goog", "aapl", "amzn"])
out_writer.writerow([1, -2, 3.1111, 4.5])
out_file.close()

[['4/5/2015 13:34', 'Apples', '73'], ['4/5/2015 3:41', 'Cherries', '85'], ['4/6/2015 12:46', 'Pears', '14'], ['4/8/2015 8:59', 'Oranges', '52'], ['4/10/2015 2:07', 'Apples', '152'], ['4/10/2015 18:10', 'Bananas', '23'], ['4/10/2015 2:40', 'Strawberries', '98']]
line #: 1, content: ['4/5/2015 13:34', 'Apples', '73']
line #: 2, content: ['4/5/2015 3:41', 'Cherries', '85']
line #: 3, content: ['4/6/2015 12:46', 'Pears', '14']
line #: 4, content: ['4/8/2015 8:59', 'Oranges', '52']
line #: 5, content: ['4/10/2015 2:07', 'Apples', '152']
line #: 6, content: ['4/10/2015 18:10', 'Bananas', '23']
line #: 7, content: ['4/10/2015 2:40', 'Strawberries', '98']

## json (javascript object notation)

关于module json

- loads
- load
- dumps
- dump

In [31]:
import json

data = '{"name": "July", "salary": 999999, "title": "CEO", "manager": null}'

json_data = json.loads(data)

print(type(json_data))
print(json_data)

json_data = json.load(open("data/sample.json", "r"))
print(type(json_data))
print(json_data)

dumped_json = json.dumps(json_data)
print(type(dumped_json))
print(dumped_json)

json.dump(json_data, open("data/out.json", "w"))

<class 'dict'>
{'name': 'July', 'salary': 999999, 'title': 'CEO', 'manager': None}
<class 'dict'>
{'name': 'July', 'salary': 999999, 'title': 'CEO', 'manager': None}
<class 'str'>
{"name": "July", "salary": 999999, "title": "CEO", "manager": null}

In [6]:
# 120min